<h1>Angular con Spring Boot :D</h1>
<div class="card" style="margin-bottom: 1em;">
    <div class="card-body">
        <form class="was-validated" style="margin-bottom: 5px;">  
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="subirXML($event)" accept="text/xml">
                    <label class="custom-file-label" for="inputGroupFile01">{{nombreXML}}</label>
                </div>
                <button type="button" class="btn btn-success" style="margin-left:10px;" [(disabled)]="!archivoseleccionado" (click)="guardarXML()">Subir</button>                
            </div>
        </form>
        <div *ngIf="subiendoArchivo">
            <p class="text-primary" *ngIf="subiendo">Subiendo...</p>
            <p class="text-danger" *ngIf="subidaError">{{mensajeError}}</p>   
            <p class="text-success" *ngIf="subidaFinalizada">Archivo subido.</p>   
        </div>
    </div>
</div>

<div class="card" style="margin-bottom: 1em;">
    <div style="margin: 1cm;">
        <mat-form-field class="col-md-4">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
        
                <!-- nombre Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
            
                <!-- fechaCaptura Column -->
                <ng-container matColumnDef="fechaCaptura">
                    <th mat-header-cell *matHeaderCellDef> Fecha de captura </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaCaptura}} </td>
                </ng-container>
        
                <!-- fechaInicial Column -->
                <ng-container matColumnDef="fechaInicial">
                    <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaInicial}} </td>
                </ng-container>
        
                <!-- fechaFinal Column -->
                <ng-container matColumnDef="fechaFinal">
                    <th mat-header-cell *matHeaderCellDef> Fecha Final </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaFinal}} </td>
                </ng-container>

                <!-- descarga Column -->
                <ng-container matColumnDef="urlDescarga">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                            <a target="_self" href="{{element.urlDescarga}}" download>
                                <i title="Descargar" style="color:rgb(2, 182, 26);" class="material-icons btn btn-outline-light">get_app</i>
                            </a>
                            <i title="Eliminar" style="color:rgb(214, 25, 25);" (click)="eliminarCaptura(element.id)" class="material-icons btn btn-outline-light">delete_forever</i>
                    </td>
                </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>